<div class="shifting-content">
    <div class="shifting-header">
        <div class="shifting-header-notes">
            <div class="notes">Select the form the weapon will take:</div>
        </div>
        <div class="shifting-filter-container">
            <label class="shifting-hide-untrained-label">
                <input type="checkbox" class="shifting-hide-untrained" checked>
                Hide Untrained Weapons
            </label>
            <div class="search-container">
                <input type="text" class="shifting-search-input" placeholder="Search by name or traits...">
            </div>
        </div>
    </div>

    <div class="table-container">
        <table class="pf2e-table">
            <thead>
                <tr>
                    <th class="radio-column"></th>
                    <th>Weapon Form</th>
                    <th>Category</th>
                    <th>Group</th>
                    <th>Dice</th>
                    <th>Type</th>
                    <th>Hands</th>
                    <th>Bulk</th>
                </tr>
            </thead>
            <tbody>
                {{#each weapons}}
                <tr data-is-proficient="{{this.isProficient}}">
                    <td class="center-text">
                        <input type="radio" name="weaponId" value="{{this.id}}">
                    </td>
                    <td class="weapon-name">
                        <strong>{{this.name}}{{#if this.isOriginalForm}} (Original Form){{/if}}</strong>
                        <div class="tags paizo-style" data-tooltip-class="pf2e">
                            {{#each this.traits}}
                            <span class="tag" data-tooltip="{{this.tooltip}}">{{this.label}}</span>
                            {{/each}}
                        </div>
                    </td>
                    <td class="center-text">{{this.category}}</td>
                    <td class="center-text">{{this.group}}</td>
                    <td class="center-text">{{this.dice}}</td>
                    <td class="center-text">{{this.type}}</td>
                    <td class="center-text">{{this.hands}}</td>
                    <td class="center-text">{{this.bulk}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

    <footer class="sheet-footer flexrow shifting-footer">
        <button type="submit" name="confirm" class="save-button">
            <i class="fa-solid fa-check"></i> Shift Weapon
        </button>
    </footer>
</div>